*{
	background-color: #d9d9d9;
	/* font-family: 'MaaxMonoTrial';
	src: url(font/MaaxMonoTrial-Regular.otf) format(.otf); */
}


@font-face {
    font-family: 'MaaxMonoTrial';
    src: url('font/MaaxMonoTrial-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaaxMonoTrial';
    src: url('font/MaaxMonoTrial-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MaaxMonoTrial';
    src: url('font/MaaxMonoTrial-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MaaxMonoTrial';
    src: url('font/MaaxMonoTrial-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

body{
	font-family: 'MaaxMonoTrial';
    /* font-family: "IBM Plex Mono", monospace; */
	margin: 5px;
    padding: 0px;

	font-size: 12px;
    font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	text-align: left;
}

p{
	margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none ;
	margin: 0px;
    padding: 0px;
}

img{
	margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

#Header{
	
	top: 0px; 
	left: 0px;
	margin: 0px;
	width:100%;
}

#Content{
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 50%;
}


#Footer{
	position:fixed; 
	bottom: 0px; 
	left: 0px;
	margin: 5px;
	width:10%;
}

#animegif{
	position:fixed; 
	bottom: 0px; 
	left: 0px;
	margin: 5px;
	width:25%;
}


a:link {
	color:rgb(0, 0, 0);
	text-decoration:none;
}

a:visited {
	color:rgb(0, 0, 0);
	text-decoration:none;
}

a:hover {
	color:rgb(100, 100, 100);
	text-decoration:none;
}

a:active {
	color:rgb(0, 0, 255);
	text-decoration:none;
}

/* -------------- X -------------- */

.x-Vertical{
	position:fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	width:1px;
	height:7px;
	background-color: black;
}

.x-Horizontal{
	position:fixed;
	z-index: 1;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	width:12px;
	height:1px;
	background-color: black;
}

/* -------------- abstract -------------- */

.abstract{
	/* color: #d9d9d9;
	background-color: blue;
	padding: 8px; */
	max-width: 25%;
}

/* -------------- anime -------------- */

.animegif{
	width: 25%;
	height: auto;
}

/* -------------- SMARTPHONE -------------- */

@media (max-width:925px){
		.abstract{
			width: 100%;
		}

		#Footer{
			width: 25%;
		}

		#Content{
			width:100%;
		}

		#animegif{
			width: auto;
		}


		body{
			line-height: 1.1;
		}

}







